html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 90vh;
    width: 75vw;
    border-radius: 20px;
    background-color: #245694;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 10px auto;
    border-radius: 10px;
    height: 75%;
    width: 80%;
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 20px 3px rgb(0, 0, 0, 0.5);
}
.card .image,
.card .infos {
    width: 50%;

}
.infos{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0, 0.5);
    margin: 5px;
    font-family: poppins;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    overflow: auto;
}

.infos .price{
    display: flex;
    font-family: poppins;
}

.infos .more-infos{
    display: flex;
    width: 80%;
    justify-content: space-between;
    color: #ececec;
}

.slider {
    height:80%;
    display: flex;
    align-items: center;
}

.slider img{
    width: 90%;
    margin: auto;
    border-radius: 10px;
}
.img-slider{
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.img-slider div {
    width: 20%;

}

.img-slider img{
    height: 100%;
    border-radius: 5px;

}
.imgs{
    height: 50px;
    width: 80px;
    filter: blur(1px);
}
.imgs:hover{
    box-shadow: #ececec;
    filter: blur(0);
}

.reviews{
    color: gold;
}

h3:nth-child(3){
    color: #ececec;
    text-decoration: line-through;
}
h3{
    padding-left: 10px;
}

.more-infos h5:nth-child(1){
    color: black;
}

.info-content{
    font-size: 12px;
    overflow: auto;
}


.buttons {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    margin: 5px;
    width: 45;
    font: inherit;
    border-radius: 25px;
    background-color: white;
    border: none;
}

.buttons button:nth-child(1){
    margin-right:10px;
}

.buttons button:hover {
    color:white;
    background-color: #245694;
}